<h1>Carga de Dataset<h1>

In [2]:
#Importe de librerias Para EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#Carga de DataSet
df = pd.read_csv('../Regresión-Lineal-Cars-Price\car data.csv')

#Mirar las primeras Filas del DataSet
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\c'
<>:2: SyntaxWarning: invalid escape sequence '\c'
C:\Users\range\AppData\Local\Temp\ipykernel_11808\3622268734.py:2: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv('../Regresión-Lineal-Cars-Price\car data.csv')

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

<h3>Informacion General del Dataset<h3>

In [6]:

#Informacion General del DataSet
print("Numero de Filas y Columnas",df.shape)

#Informacion General de los datos
print(df.info())

Numero de Filas y Columnas (301, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB
None

**Descripcion General de los Datos**

Encontramos que el DataSet cuenta con alrededor de 2059 registros y 20 filas, ahora bien, encontramos que hay valores faltantes en algunas columnas por lo que debemos hacer imputacion de datos y buscaremos datos atipicos.

<h3>Diccionario De Data<h3>

In [7]:
data_descripcion = {
    "Make": {
        "descripcion": "Marca del vehículo.",
        "tipo_dato": "object (cadena de texto)"
    },
    "Model": {
        "descripcion": "Modelo del vehículo.",
        "tipo_dato": "object (cadena de texto)"
    },
    "Price": {
        "descripcion": "Precio del vehículo en la moneda correspondiente.",
        "tipo_dato": "int64 (entero)"
    },
    "Year": {
        "descripcion": "Año de fabricación del vehículo.",
        "tipo_dato": "int64 (entero)"
    },
    "Kilometer": {
        "descripcion": "Kilometraje recorrido por el vehículo (en kilómetros).",
        "tipo_dato": "int64 (entero)"
    },
    "Fuel Type": {
        "descripcion": "Tipo de combustible utilizado por el vehículo (por ejemplo, gasolina, diésel).",
        "tipo_dato": "object (cadena de texto)"
    },
    "Transmission": {
        "descripcion": "Tipo de transmisión del vehículo (manual o automática).",
        "tipo_dato": "object (cadena de texto)"
    },
    "Location": {
        "descripcion": "Ubicación donde se vende el vehículo.",
        "tipo_dato": "object (cadena de texto)"
    },
    "Color": {
        "descripcion": "Color del vehículo.",
        "tipo_dato": "object (cadena de texto)"
    },
    "Owner": {
        "descripcion": "Número de dueños anteriores del vehículo.",
        "tipo_dato": "object (cadena de texto)"
    },
    "Seller Type": {
        "descripcion": "Tipo de vendedor (por ejemplo, concesionario, individuo).",
        "tipo_dato": "object (cadena de texto)"
    },
    "Engine": {
        "descripcion": "Capacidad del motor del vehículo (generalmente en centímetros cúbicos, cc).",
        "tipo_dato": "object (cadena de texto), algunos valores faltantes"
    },
    "Max Power": {
        "descripcion": "Potencia máxima generada por el motor del vehículo (en caballos de fuerza o kilovatios).",
        "tipo_dato": "object (cadena de texto), algunos valores faltantes"
    },
    "Max Torque": {
        "descripcion": "Torque del vehículo, que indica la fuerza que el motor puede generar.",
        "tipo_dato": "object (cadena de texto), algunos valores faltantes"
    },
    "Drivetrain": {
        "descripcion": "Tipo de transmisión del vehículo (tracción delantera, trasera o total).",
        "tipo_dato": "object (cadena de texto), algunos valores faltantes"
    },
    "Length": {
        "descripcion": "Longitud del vehículo (en milímetros o centímetros).",
        "tipo_dato": "float64 (número decimal), algunos valores faltantes"
    },
    "Width": {
        "descripcion": "Ancho del vehículo (en milímetros o centímetros).",
        "tipo_dato": "float64 (número decimal), algunos valores faltantes"
    },
    "Height": {
        "descripcion": "Altura del vehículo (en milímetros o centímetros).",
        "tipo_dato": "float64 (número decimal), algunos valores faltantes"
    },
    "Seating Capacity": {
        "descripcion": "Número de asientos en el vehículo.",
        "tipo_dato": "float64 (número decimal), algunos valores faltantes"
    },
    "Fuel Tank Capacity": {
        "descripcion": "Capacidad del tanque de combustible del vehículo (en litros).",
        "tipo_dato": "float64 (número decimal), algunos valores faltantes"
    }
}

In [8]:
#Estadisticas Descriptivas
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

<h3>Mediana<h3>

In [9]:
# Seleccionar solo las columnas numéricas
median_values = df.select_dtypes(include=['number']).median()

# Mostrar la mediana
print(median_values)

Year              2014.0
Selling_Price        3.6
Present_Price        6.4
Kms_Driven       32000.0
Owner                0.0
dtype: float64

In [11]:
#verificar Valores Nulos
print(df.isnull().sum())

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

**Imputacion de Valores Faltantes**